* {
  box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    color: $text-color-light;
    background: $bg-color;
    position: relative;
    height: 100%;
}

main {
  display: block;
  margin: 0 auto;
  margin-top: 5em;
  max-width: 50em;
}

a {
  font-style: none;
  color: $text-color-light;
}

.page {
  display: block;
  width: 90%;
  margin-left: 5%;
  padding-bottom: 7rem;
  border: 1px solid $text-color-medium;
}

.page-content {
  min-height: fit-content;
  padding: $l-size;
  padding-top: $m-size;
}

.form {
  width: min-content;
}

.input {
  margin: $s-size;
  display: block;
}

.hidden {
  visibility: hidden;
}