/* FONT IMPORTS */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

/* VARIABLES */

//COLORS
// $bg-color-header: #394642;
// $bg-color: #212926;
// $action: #3a4220;
// $main-color: #2D882D;
// $main-color-light: hsl(120, 38%, 64%);
// $main-color-dark: #226422;
// $text-color-light: #e6f5bb;
// $text-color-medium: #848f65;
$bg-color-header: #e3e9e9;
$bg-color: #f1f8f8;
$action: #9a9c9e;
$main-color: #4aa4c9;
$main-color-light: #77b9d6;
$main-color-dark: #3e8cac;
$text-color-light: #32515f;
$text-color-medium: #32515f;



//SPACING
$s-size: 1rem;
$m-size: 2rem;
$ml-size: 3rem;
$l-size: 4rem;
$xl-size: 5rem;
$desktop-breakpoint: 45rem;