.action__bar {
  background-color: $action;
  padding: .5rem 1rem;
}

.action__bar__button {
  padding: .5rem;
  margin-right: .5rem;
  background-color: $main-color;
  color: $text-color-light;
  border: none;
}

.action__bar__button--active {
  padding: .5rem;
  margin-right: .5rem;
  background-color: $main-color-dark;
  color: $text-color-light;
  border: none;
}

.action__bar__button--secondary {
  float: right;
  padding: .5rem;
  background-color: $action;
  color: $text-color-light;
  border: none;
}

.action__bar__button--secondary--active {
  float: right;
  padding: .5rem;
  background-color: $action;
  color: $text-color-medium;
  border: none;
}