.primary__submit__button {
  float: right;
  margin: 0 $s-size $s-size 0;
  padding: .5rem;
  background: $main-color;
  color: $text-color-light;
  border: none;
}

.secondary__submit__button {
  float: right;
  margin: 0 $s-size $s-size 0;
  padding: .5rem;
  background: $main-color-light;
  color: darken($text-color-medium, 10);
  border: none;
  font-weight: bold;
}